body{
    background: linear-gradient(320deg,rgb(253, 1, 1),rgb(228, 253, 1));
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}

.Calculator{
    margin-top: 20px;
    background-color: rgba(70, 70, 70, 0.473);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    padding-bottom: 20px;
    
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
    height: 50px;
}
button{
    background-color: rgb(235, 235, 235);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    font-size: 20px;
}
button:hover{
    background-color: rgba(211, 211, 211, 0.534);
}
button:active{
    flex-direction: 350ms;
    transform: scale(1.05);
}
#bottomrow{
    justify-content: right;
    padding-right: 40px;
}
#toprow{
    justify-content: right;
    padding-right: 40px;
    align-items: center;
}
p{
    font-size: 35px;
    margin: 30px;
    
}
h1{
    margin-top: 10%;
}
.num{
    background-color: rgb(175, 175, 175);
}
#equal{
    background-color: rgb(55, 165, 255);
    width: 120px;
}
#equal:hover{
    background-color: rgba(105, 151, 252, 0.534);
    width: 120px;
}

#backspace{
    margin-left: 20px;
}